.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.TodoItem input {
    width: 20px;
}

.TodoItem .content {
    flex: 1;
}

.TodoItem .date {
    font-size: 14px;
    color: gray;
}

.TodoItem input[type="text"] {
    flex: 1;
    margin-right: 10px;
    padding: 5px;
    font-size: 16px; /* 크기를 조정합니다 */
  }
.TodoItem button {
    cursor: pointer;
    border: none;
    color: gray;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}